@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}

.card {
  margin: auto;
  background: white;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  position: relative;
  margin-top: 20%;
}

.botSimbol {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5%;
  font-size: 55px;
}

.topSimbol {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  font-size: 55px;
}

.number {
  position: absolute;
  top: 35%;
  left: 42%;
  font-size: 75px;
}
