@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}

.card {
  margin: auto;
  background: white;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  position: relative;
  padding: 1%;
  top: 5px;
}

.card1 {
  margin: auto;
  background: white;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  position: relative;
  padding: 1%;
  top: 5px;
}

.card2 {
  margin: auto;
  background: white;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  position: relative;
  padding: 1%;
  top: 5px;
}
.card3 {
  margin: auto;
  background: white;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  position: relative;
  padding: 1%;
  top: 5px;
}
.card4 {
  margin: auto;
  background: white;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  position: relative;
  padding: 1%;
  top: 5px;
}
.borde {
  width: 270px;
  height: 370px;
  border: 5px solid black;
  position: relative;
  margin: auto;
  margin-top: 20%;
  border-radius: 5%;
}

.borde1 {
  width: 270px;
  height: 370px;
  border: 5px solid black;
  position: relative;
  margin: auto;
  margin-top: 20%;
  border-radius: 5%;
}

.borde2 {
  width: 270px;
  height: 370px;
  border: 5px solid black;
  position: relative;
  margin: auto;
  margin-top: 20%;
  border-radius: 5%;
}
.borde3 {
  width: 270px;
  height: 370px;
  border: 5px solid black;
  position: relative;
  margin: auto;
  margin-top: 20%;
  border-radius: 5%;
}
.borde4 {
  width: 270px;
  height: 370px;
  border: 5px solid black;
  position: relative;
  margin: auto;
  margin-top: 20%;
  border-radius: 5%;
}
.botSimbol {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5%;
  font-size: 55px;
}

.topSimbol {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  font-size: 55px;
}

.number {
  position: absolute;
  top: 30%;
  left: 42%;
  font-size: 75px;
}

.botSimbol1 {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5%;
  font-size: 55px;
}

.topSimbol1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  font-size: 55px;
}

.number1 {
  position: absolute;
  top: 30%;
  left: 42%;
  font-size: 75px;
}

.botSimbol2 {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5%;
  font-size: 55px;
}

.topSimbol2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  font-size: 55px;
}

.number2 {
  position: absolute;
  top: 30%;
  left: 42%;
  font-size: 75px;
}

.botSimbol3 {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5%;
  font-size: 55px;
}

.topSimbol3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  font-size: 55px;
}

.number3 {
  position: absolute;
  top: 30%;
  left: 42%;
  font-size: 75px;
}

.botSimbol4 {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5%;
  font-size: 55px;
}

.topSimbol4 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  font-size: 55px;
}

.number4 {
  position: absolute;
  top: 30%;
  left: 42%;
  font-size: 75px;
}

.completo {
  display: inline-flex;
}
